@use "../../../app/scss/util/variables";
@use "../../../app/scss/util/displayFlex";

.header {
  @include displayFlex.space-between;
  align-items: center;
  width: 100%;
  min-height: 15vh;
  padding-inline: 3em;
  background-color: variables.$background-color;

  &__logo {
    text-align: center;

    &__link {
      color: variables.$text-color;

      letter-spacing: 2px;

      &__jr {
        font-size: 2.5rem;
      }

      &__shop-title {
        font-size: 1.3rem;
      }

      &__highlight-color {
        color: variables.$first-letter-color;
      }
    }
  }

  &__menubar {
    position: relative;
    @include displayFlex.displayCenter;
    width: 40px;
    height: 30px;
    cursor: pointer;

    &__line {
      width: 100%;
      height: 2px;
      background-color: variables.$text-color;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 2px;
        background-color: variables.$text-color;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: variables.$text-color;
      }
    }
  }

  &__nav {
    @include displayFlex.displayCenter;
    position: absolute;
    top: 15vh;
    left: 0;
    width: 100%;
    transform: translateX(102%);
    transition: transform 0.4s ease-in-out;

    &__list {
      @include displayFlex.flexDiretionColumn;
      align-items: center;
      gap: 1.5em;
      width: 100%;
      padding: 1.5em 1em;
      background-color: variables.$background-color;

      &__items {
        font-size: 1.5rem;
        letter-spacing: 2px;

        &__links {
          padding: 0.4em;
          color: variables.$text-color;
          border-radius: 5px;
          transition: all 0.33s ease-in-out;

          &:hover {
            background-color: variables.$first-letter-color;
            color: black;
          }
        }
      }
    }
  }

  &__nav.active {
    transform: translateX(0%);
  }
}
