@use "../../../app/scss/util/variables";
@use "../../../app/scss/util/displayFlex";

.main {
  &__servicesPage {
    padding: 2em;
    background-color: variables.$background-color;
    color: white;

    &__title {
      text-align: center;
      font-size: 3rem;
      letter-spacing: 5px;
      font-weight: map-get(variables.$font-weights, light);
      margin-bottom: 0.8em;

      &__highlight-color {
        color: variables.$first-letter-color;
        font-size: 6rem;
      }
    }

    &__cardContainer {
      display: grid;
      grid-template-rows: repeat(auto-fit, 1fr);
      gap: 1.4em;

      &__card {
        @include displayFlex.flexDiretionColumn;
        gap: 2em;
        padding: 2.5em;
        background-color: variables.$first-letter-color;

        &__logo {
          text-align: center;

          & > svg {
            width: 30%;
          }
        }

        &__title > h1 {
          text-align: center;
          font-size: 2.2rem;
          font-family: variables.$font-family-global;
          font-weight: map-get(variables.$font-weights, regular);
        }

        &__description {
          text-align: center;
          font-weight: map-get(variables.$font-weights, light);
          line-height: 2;
        }
      }
    }
  }
}
