$background-color: rgba(41, 45, 46);
$text-color: #ffffff;
$text-footer-color: rgba(149, 149, 149);
$first-letter-color: rgba(227, 157, 88);
$font-family-global: "Raleway", sans-serif;
$font-weights: (
  "thin": 100,
  "extraLight": 200,
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semiBold": 600,
  "bold": 700,
  "extraBold": 800,
  "black": 900,
);
