*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.7em;
}

::-webkit-scrollbar-track {
  background-color: rgb(41, 45, 46);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(227, 157, 88);
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: rgb(41, 45, 46);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 15vh;
  padding-inline: 3em;
  background-color: rgb(41, 45, 46);
}
.header__logo {
  text-align: center;
}
.header__logo__link {
  color: #ffffff;
  letter-spacing: 2px;
}
.header__logo__link__jr {
  font-size: 2.5rem;
}
.header__logo__link__shop-title {
  font-size: 1.3rem;
}
.header__logo__link__highlight-color {
  color: rgb(227, 157, 88);
}
.header__menubar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 30px;
  cursor: pointer;
}
.header__menubar__line {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}
.header__menubar__line::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}
.header__menubar__line::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 15vh;
  left: 0;
  width: 100%;
  -webkit-transform: translateX(102%);
          transform: translateX(102%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}
.header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5em;
  width: 100%;
  padding: 1.5em 1em;
  background-color: rgb(41, 45, 46);
}
.header__nav__list__items {
  font-size: 1.5rem;
  letter-spacing: 2px;
}
.header__nav__list__items__links {
  padding: 0.4em;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.33s ease-in-out;
  transition: all 0.33s ease-in-out;
}
.header__nav__list__items__links:hover {
  background-color: rgb(227, 157, 88);
  color: black;
}
.header__nav.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.main__landingPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background-image: url("../../../assets/images/LandingPage-img.jpg");
  background-position: 60%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.main__landingPage__intro-container {
  position: relative;
  width: calc(100% - 5em);
  margin-left: 3em;
  margin-top: 8em;
  color: #ffffff;
  -webkit-transition: margin 0.3s ease-in-out;
  transition: margin 0.3s ease-in-out;
}
.main__landingPage__intro-container.active {
  margin-top: 12em;
}
.main__landingPage__intro-container__title {
  font-weight: 400;
  letter-spacing: 10px;
  font-size: 3rem;
}
.main__landingPage__intro-container__title__highlight-color {
  color: rgb(227, 157, 88);
  font-size: 10rem;
}
.main__landingPage__intro-container__subtitle {
  margin-bottom: 1em;
  margin-left: 0.9em;
  line-height: 1.2;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 5px;
}
.main__landingPage__intro-container__link {
  outline: none;
  padding: 0.5em 0.8em;
  margin-left: 1.2em;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: rgb(41, 45, 46);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.main__landingPage__intro-container__link:hover {
  background-color: rgb(227, 157, 88);
  color: black;
}

.main__aboutPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 2em;
  gap: 1.5em;
  background-color: rgb(41, 45, 46);
}
.main__aboutPage__img > img {
  width: 100%;
  border-radius: 5px;
}
.main__aboutPage__description {
  color: #ffffff;
}
.main__aboutPage__description__title {
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 0.6em;
  letter-spacing: 5px;
}
.main__aboutPage__description__title__highlight-color {
  font-size: 6rem;
  color: rgb(227, 157, 88);
}
.main__aboutPage__description__paragraph {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.5;
}
.main__aboutPage__description__paragraph2 {
  margin-top: 1em;
}

.main__parallaximg1 {
  height: 100vh;
  background-image: url("../../../assets/images/parallax-img1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.main__parallaximg2 {
  height: 100vh;
  background-image: url("../../../assets/images/parallax-img2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main__servicesPage {
  padding: 2em;
  background-color: rgb(41, 45, 46);
  color: white;
}
.main__servicesPage__title {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 5px;
  font-weight: 300;
  margin-bottom: 0.8em;
}
.main__servicesPage__title__highlight-color {
  color: rgb(227, 157, 88);
  font-size: 6rem;
}
.main__servicesPage__cardContainer {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 1.4em;
}
.main__servicesPage__cardContainer__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
  padding: 2.5em;
  background-color: rgb(227, 157, 88);
}
.main__servicesPage__cardContainer__card__logo {
  text-align: center;
}
.main__servicesPage__cardContainer__card__logo > svg {
  width: 30%;
}
.main__servicesPage__cardContainer__card__title > h1 {
  text-align: center;
  font-size: 2.2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.main__servicesPage__cardContainer__card__description {
  text-align: center;
  font-weight: 300;
  line-height: 2;
}

.main__contactPage {
  background-color: rgb(41, 45, 46);
  padding: 2em;
  color: #ffffff;
}
.main__contactPage__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}
.main__contactPage__container__title {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 5px;
  font-weight: 300;
}
.main__contactPage__container__title__highlight-color {
  color: rgb(227, 157, 88);
  font-size: 6rem;
}
.main__contactPage__container__quote {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  color: rgb(149, 149, 149);
}
.main__contactPage__container__divider1 {
  width: 90%;
  height: 2px;
  margin: 0.5em auto;
  background-color: rgb(227, 157, 88);
}
.main__contactPage__container__socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  margin: 1em auto;
}
.main__contactPage__container__socialIcons__socialMedia {
  width: clamp(30px, 5vw, 35px);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.main__contactPage__container__socialIcons__socialMedia:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.main__contactPage__helpContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  margin: 1em auto;
}
.main__contactPage__helpContainer > a {
  font-size: 0.9rem;
  color: rgb(149, 149, 149);
}
.main__contactPage__divider2 {
  width: 90%;
  height: 2px;
  margin: 0.5em auto;
  background-color: rgb(227, 157, 88);
}
.main__contactPage__copyright {
  width: 90%;
  margin: 2em auto 0.5em auto;
}
.main__contactPage__copyright > h5 {
  text-align: center;
  letter-spacing: 2px;
  color: rgb(149, 149, 149);
  font-weight: 300;
}

@media (max-width: 280px) {
  .header {
    padding-inline: 1em;
  }
  .header__logo {
    text-align: start;
  }
  .header__logo__link__jr {
    font-size: 1.9rem;
  }
  .header__logo__link__shop-title {
    font-size: 0.8rem;
  }
  .header__menubar {
    width: 35px;
    height: 30px;
  }
  .header__nav__list {
    gap: 0.6em;
  }
  .header__nav__list__items {
    font-size: 1.2rem;
  }
}

@media (max-width: 280px) {
  .main__landingPage__intro-container {
    margin-left: 0.2rem;
  }
  .main__landingPage__intro-container__title {
    font-size: 1.5rem;
  }
  .main__landingPage__intro-container__title__highlight-color {
    font-size: 7rem;
  }
  .main__landingPage__intro-container__subtitle {
    font-size: 1.4rem;
  }
  .main__landingPage__intro-container__link {
    font-size: 1.2rem;
    margin-left: 1rem;
  }
}

@media (max-width: 280px) {
  .main__aboutPage__img {
    text-align: center;
  }
  .main__aboutPage__img > img {
    width: 100%;
  }
  .main__aboutPage__description__title {
    font-size: 2rem;
  }
  .main__aboutPage__description__title__highlight-color {
    font-size: 5rem;
  }
  .main__aboutPage__description__paragraph {
    text-align: center;
    font-size: 1rem;
  }
}

@media (max-width: 280px) {
  .main__servicesPage__title {
    font-size: 2rem;
  }
  .main__servicesPage__title__highlight-color {
    font-size: 5rem;
  }
  .main__servicesPage__cardContainer__card {
    gap: 1em;
  }
  .main__servicesPage__cardContainer__card__logo {
    display: none;
  }
  .main__servicesPage__cardContainer__card__title > h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 280px) {
  .main__contactPage__container__title {
    font-size: 2rem;
  }
  .main__contactPage__container__title__highlight-color {
    font-size: 5rem;
  }
  .main__contactPage__container__quote {
    font-size: 1rem;
  }
  .main__contactPage__container__socialIcons {
    width: 100%;
  }
  .main__contactPage__helpContainer {
    width: 100%;
  }
  .main__contactPage__helpContainer > a {
    font-size: 0.7rem;
  }
}

@media (min-width: 768px) {
  .header__menubar {
    display: none;
  }
  .header__nav {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .header__nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 768px) {
  .main__aboutPage__img {
    text-align: center;
  }
  .main__aboutPage__img > img {
    width: 70%;
  }
}

@media (min-width: 992px) {
  .header {
    padding-inline: 6em;
  }
}
@media (min-width: 992px) {
  .header__nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 3em;
  }
}

@media (min-width: 992px) {
  .main__landingPage__intro-container {
    margin-left: 15em;
  }
}

@media (min-width: 992px) {
  .main__aboutPage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main__aboutPage__img {
    width: 80%;
  }
  .main__aboutPage__img > img {
    width: 60%;
  }
}

@media (min-width: 992px) {
  .main__servicesPage__cardContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .main__contactPage__container__socialIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2em;
  }
}
@media (min-width: 992px) {
  .main__contactPage__helpContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.5em;
  }
}/*# sourceMappingURL=main.css.map */